#mainWrapper {
    width: 1300px;
    margin: auto;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#mainForm {
    width: 100%;
    display: flex;
    justify-content: center;
}
.todo {
    width: 1300px;
    display:flex;
    justify-content: space-around;
}
.completed {
    text-decoration: line-through;
    color: green;
}